{% extends "_layouts/cp" %}

{% import "_includes/forms" as forms %}

{% set fullPageForm = true %}

{% set title = "Social Feed"|t %}

{% set tabs = {
    feeds: { label: "Feeds"|t, url: '#feeds' },
    facebookFields: { label: "Facebook"|t, url: '#facebook-fields', class: (not settings.facebookActive ? 'hidden') },
    instagramFields: { label: "Instagram"|t, url: '#instagram-fields', class: (not settings.instagramActive ? 'hidden') },
    twitterFields: { label: "Twitter"|t, url: '#twitter-fields', class: (not settings.twitterActive ? 'hidden') }
} %}
{% set selectedTab = 'feeds' %}

{% block content %}
    <input type="hidden" name="action" value="socialFeed/saveSettings" />

    <div id="feeds">
        {{ forms.checkboxField({
            label: "Use Facebook"|t,
            instructions: "Add Facebook feed capability.",
            id: 'facebookActive',
            name: 'facebookActive',
            checked: settings.facebookActive,
            toggle: '#facebook-settings',
        }) }}

        {{ forms.checkboxField({
            label: "Use Instagram"|t,
            instructions: "Add Instagram feed capability.",
            id: 'instagramActive',
            name: 'instagramActive',
            checked: settings.instagramActive,
            toggle: '#instagram-settings',
        }) }}

        {{ forms.checkboxField({
            label: "Use Twitter"|t,
            instructions: "Add Twitter feed capability.",
            id: 'twitterActive',
            name: 'twitterActive',
            checked: settings.twitterActive,
            toggle: '#twitter-settings',
        }) }}
    </div>

    <div id="facebook-fields" class="hidden">
        {% include "socialfeed/_settings/_facebook-settings" with {
            settings: settings,
        } only %}
    </div>

    <div id="instagram-fields" class="hidden">
        {% include "socialfeed/_settings/_instagram-settings" with {
            settings: settings,
        } only %}
    </div>

    <div id="twitter-fields" class="hidden">
        {% include "socialfeed/_settings/_twitter-settings" with {
            settings: settings,
        } only %}
    </div>

{% endblock %}

{% includejs %}
    $('#facebookActive').on('change', function() {
        if ($(this).prop('checked')) {
            $('#tab-facebookFields').removeClass('hidden');
        } else {
            $('#tab-facebookFields').addClass('hidden');
        }
    });
    $('#instagramActive').on('change', function() {
        if ($(this).prop('checked')) {
            $('#tab-instagramFields').removeClass('hidden');
        } else {
            $('#tab-instagramFields').addClass('hidden');
        }
    });
    $('#twitterActive').on('change', function() {
        if ($(this).prop('checked')) {
            $('#tab-twitterFields').removeClass('hidden');
        } else {
            $('#tab-twitterFields').addClass('hidden');
        }
    });
{% endincludejs %}
