<div class="socialFeeds-instagram-container">
	<div class="socialFeeds-loading"></div>
</div>
{% verbatim %}
	<script type="x-tmpl-mustache" id="socialFeeds-instagram">
		{{#feed}}
			<div class="grid-col--xxs12 grid-col--xs6">
				<div class="socialFeeds-instagram">
					{{#caption}}
						<div class="socialFeeds-instagram-caption">
							<p>{{{caption}}}</p>
						</div>
					{{/caption}}
					<img src="{{image}}" alt="Fatback Bikes" />
				</div>
			</div>
		{{/feed}}
	</script>
{% endverbatim %}