<div class="socialFeeds-instagram-container">
	<div class="socialFeeds-loading"></div>
</div>
{% verbatim %}
	<script type="text/x-handlebars-template" id="socialFeeds-instagram">
		{{#each feed}}
			<div class="grid-col--xxs12 grid-col--xs6">
				<div class="socialFeeds-instagram">
					{{#if name}}
						<div class="socialFeeds-instagram-caption">
							<p>{{{this.caption}}}</p>
						</div>
					{{/if}}
					<img src="{{this.image}}" alt="Fatback Bikes" />
				</div>
			</div>
		{{/each}}
	</script>
{% endverbatim %}