<div class="socialFeeds-twitter-container">
	<div class="socialFeeds-loading"></div>
</div>
{% verbatim %}
	<script type="x-tmpl-mustache" id="socialFeeds-twitter">
		{{#feed}}
    		<p>{{date}}</p>
			<p>{{{text}}}</p>
		{{/feed}}
	</script>
{% endverbatim %}